/* Blue variables */
$theme-color: #D1E8E2;
$text-color: #D1E8E2;
$text-color-secondary: #FFCB9A;
$text-grey: #D9B08C;
$divider: #FF0040;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #f5f5f5;
$heart: #fb866a;
